sphinx
sphinx_materialdesign_theme
sphinxcontrib_images
sphinx-material
sphinxcontrib-napoleon
# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks.git@master#egg=markdown_code_symlinks
# HDL diagrams using Yosys + netlistsvg
git+https://github.com/SymbiFlow/sphinxcontrib-hdl-diagrams.git@master#egg=sphinxcontrib-hdl-diagrams
# Module diagrams
git+https://github.com/SymbiFlow/symbolator.git@master#egg=symbolator
# XML utils
git+https://github.com/SymbiFlow/vtr-xml-utils.git#egg=vtr-xml-utils
sphinx-markdown-tables
sphinx-autobuild
sphinx-tabs==1.3.0
sphinx-jinja==1.1.1
sphinx-issues
